# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "5603254612:AAGVpfUDyCFbPnLWkZSli1JxnMHQEKXHY3c"
GDRIVE_FOLDER_ID = "0ANlupugHwwYiUk9PVA"
OWNER_ID = "5174768895"
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = "6430058"
TELEGRAM_HASH = "4f28c724e70fc4ec6fff1efd32485031"
USE_SERVICE_ACCOUNTS = "False"

# Optional config
ACCOUNTS_ZIP_URL = "" #Enter Direct Links TO Import Service Accounts Directly From Urls Instead Of Adding Files To Repo.( Archive the accounts folder to a zip file.)
TOKEN_PICKLE_URL = "https://mirrror.aryatejprakash72.workers.dev/0:/token.pickle" #Enter Direct Links TO Import Credentials Directly From Urls Instead Of Adding Files To Repo.
AUTHORIZED_CHATS = "-100794954669" #Separated by space
SUDO_USERS = "5174768895"  #Separated by space
LOGS_CHATS = "-1001659734363" #Separated by space
DATABASE_URL = "postgresql://postgres:T6rFwDiQNVxywDeOHmgF@containers-us-west-85.railway.app:5581/railway"
IGNORE_PENDING_REQUESTS = "True"
INDEX_URL = "https://silent-flower-869b.legend100k69bot.workers.dev/0:"
MEGA_KEY = "4qYWhDzQ"
MEGA_USERNAME = "mirrorleechtn@gmail.com"
MEGA_PASSWORD = "Tejas@2022"
BLOCK_MEGA_LINKS = "False"
SHORTENER = ""
SHORTENER_API = ""
STOP_DUPLICATE_CLONE = "True"
CLONE_LIMIT = ""
TG_SPLIT_SIZE = "" # leave it empty for max size(2GB)
AS_DOCUMENT = ""
CUSTOM_FILENAME = ""
RECURSIVE_SEARCH = "" #T/F And Fill drive_folder File Using Driveid.py Script.
UPTOBOX_TOKEN = "" 
# View Link button to open file Index Link in browser instead of direct download link
# You can figure out if it's compatible with your Index code or not, open any video from you Index and check if its URL ends with ?a=view, if yes make it True it will work (Compatible with Bhadoo Drive Index)
VIEW_LINK = "True"
# GDTOT COOKIES
CRYPT = "MWNHY0lpekVZSVR2VkpVdWZRQittR00wcnpTeC9jNkNVTXZYSnlVR3Iwcz0%3D"
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = "LOGS"
BUTTON_THREE_URL = "https://t.me/+G-LDCcSxyCkzYzc1"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
